* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    max-height: 100vh;
    background-image: url(./image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

h1,
h2 {
    font-size: 40px;
    color: rgb(80, 64, 64);
}

button {
    padding: 12px;
    width: 150px;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: .4s;
    margin: 2px;
    font-weight: 700;
}

#increment-btn {
    background-color: brown;
}

#save-btn {
    background-color: forestgreen;
}

#increment-btn:hover {
    background-color: rgb(250, 138, 124);
    color: rgb(223, 209, 209);
}

#increment-btn:active {
    background-color: wheat;
    color: black;
}

#save-btn:hover {
    background-color: rgb(114, 245, 102);
    color: grey;
}

#save-btn:active {
    background-color: wheat;
    color: black;
}

#save-para {
    color: rgb(238, 207, 207);
    padding: 20px;
    font-size: 25px;
}
